$primary-color: white;
$secondary-color: rgb(174, 116, 116);

body{
    color: $primary-color;
    background: $secondary-color;
    filter: blur();
    a{
        text-decoration: none;
        color: $primary-color;
    }
}
